<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="CMSServiceLib.CMSCarService"
               behaviorConfiguration="CMSServiceMEXBehavior">
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBindingConfig"
                  contract="CMSServiceLib.ICarService"/>
        <endpoint address="mex" 
                  binding="mexTcpBinding"            
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://Wesley:8080/CMSCarService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingConfig" transferMode="Buffered" maxReceivedMessageSize="5242880" >
          <readerQuotas maxArrayLength="5242880"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
      <behaviors>
      <serviceBehaviors>
        <behavior name="CMSServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="false" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors >
    </behaviors >
  </system.serviceModel>
</configuration>